@(title: String, active: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <style>
        .bottom-padding {
            padding-bottom: 1em;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">@title</div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li @if(active == "menu") { class="active" }><a href="@if(active == "menu"){#}else{menu}">Menu</a></li>
                        <li @if(active == "manage") { class="active" }><a href="@if(active == "manage"){#}else{manage}">Manage Recipes</a></li>
                    </ul>
                </div>
            </div>
        </div>
        @content
    </div>
</body>
</html>
